body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 20px;
}

.dayButtons {
  margin-bottom: 20px;
  text-align: right;
}

.speakerName {
  text-decoration: none;
  color: white;
}

.speakerName:hover {
  text-decoration: none;
  color: beige;
}

.AddSessionForm {
  margin-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.SessionForm {
  padding: 10px;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

label {
  font-weight: 500;
  font-size: 15pt;
  color: lightcoral;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #343a40;
  color: rgb(170, 170, 170);
  text-align: center;
}
